.main {
    background-color:#E5E5E5;
    padding: 1.5rem 2rem;
    max-width: 1250px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.mainCards {
    min-width: 350px;
    height: 340px;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.mainCardsImg {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.mainCardsImg:hover {
    transform: scale(1.1);
}

.mainCardsTitle {
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1rem;
    bottom: 0;
}

@media (max-width: 1200px) {
    .mainContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .main {
        background-color: white;
        padding: 0 1rem;
    }
    .mainContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .mainCards {
        min-width: 100%;
        height: 280px;
    }
}