.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    max-width: 1300px;
    margin: 2rem auto;
}

.nav {
    display: flex;
    column-gap: 2rem;
}

.navLink {
    color: #FF6060;   
    font-size: 1.2rem;
}