.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.nav {
    display: flex;
    column-gap: 2rem;

}

.navLink {
    color: #FF6060;   
    font-size: 1.2rem;
}