.containerDescription {
    display: flex;
    max-width: 1250px;
    column-gap: 2rem;
    margin: auto;
    margin-bottom: 2rem;
}

.description {
    flex: 1;
    cursor: pointer;
}

.descriptionEquipments {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}